
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

*{
  font-family: "Poppins", sans-serif;
}

/* Add this in your global CSS or component CSS */
@media print {
  .no-print {
    display: none !important;
  }
}

@theme {
  --color-bgClr: #FDFDFD;
  --color-dark1: #000000;
  --color-dark2: #333333;
  --color-GrayClr1: #D5D5D5;
  --color-Primary: #FFC300;
  --color-textClr: #575757;
  --font-Poppins: 'Poppins', sans-serif;
  --shadow-custom: 0px 2px 8px 0px rgba(0, 0, 0, 0.10);
}


.authContainer {
  @apply bg-[#FEFEFE80] p-6  w-full max-w-[600px] border border-GrayClr1 rounded-2xl
}

.authTitle {
  @apply font-semibold text-2xl text-dark2
}

.authDesc {
  @apply text-[#5C5C5C] mb-6 text-center;
}

.flexCenter{
  @apply flex justify-center items-center;
}

.flexBetween{
  @apply flex justify-between items-center;
}

.label-control {
  @apply block text-[#636363] text-sm mb-1
}

.form-control {
  @apply w-full border border-[#E0E0E0] rounded px-3 py-3 outline-none ;
}

/* .form-control {
  @apply w-full border outline-none rounded px-3 py-3 ;
} */

.authButton {
  @apply w-full bg-Primary/80 text-white py-3 rounded cursor-pointer transition-colors duration-300 hover:bg-Primary;
}

